/* Center all tags */
p, h1, h2, h3 {
  text-align: center;
}

/* Center images */
.image-container {
  text-align: center;
}

.center-image {
  display: inline-block;
  max-width: 40%; /* Ensure responsiveness */
  height: 300px; /* Set a fixed height for the images */
  margin: 10px; /* Optional: add some spacing between images */
}