/* Center all tags */
p, h1, h2, h3 {
    text-align: center;
    align-content:center;
}
/*Center all information*/
/* Center images */
.image-container {
    text-align: center;
}
/* Center images */
.image-container {
    text-align: center;
}

.center-image {
    display: inline-block;
    max-width: 100%; /* Ensure responsiveness */
    height: auto; /* Maintain aspect ratio */
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-block: auto;
    width: 100%;
}