.chef-bio {
  display: flex;
  align-items: flex-start;
  margin: 20px 20%;
  gap: 20px;
}

.chef-photo {
  width: 150px; /* Fixed width for the images */
  height: auto; /* Auto height to maintain aspect ratio */
  border-radius: 10px;
}

@media (max-width: 768px) {
  .chef-bio {
    flex-direction: column;
    align-items: center;
  }

  .chef-photo {
    width: 120px; /* Adjust width for smaller screens */
  }
}

.centered-paragraph {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  line-height: 1.8;
}

body, h1, h2, h3, p, ul, li, form, input, textarea {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Sofia", sans-serif;
  color: #f0ebd8;
  margin: 20px auto;
  width: 450px;
  font-size: 2.5rem;
  text-align: center;
  border-bottom: 10px double #bc6c25;
}

h2, #featuredRecipe, #recipeContainer {
  font-family: "Playpen Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #0d1321;
  color: #f0ebd8;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #007bff;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.nav-bar {
  width: 100%;
  height: 100px;
  background-color: #0d1321;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

  nav a {
    display: inline-block;
    padding: 30px 50px;
    margin-right: 10px;
    color: #f0ebd8;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

    nav a:hover {
      background-color: #eee;
      color: #0d1321;
    }

footer {
  background-color: #0d1321;
  padding: 20px 0;
  color: #f0ebd8;
}

.footer-copyright {
  font-size: 12px; /* Adjust the size as needed */
  text-align: left;
  margin-bottom: 10px;
}

footer .nav-bar {
  justify-content: center;
  flex-wrap: wrap;
}

footer .logo {
  margin-bottom: 10px;
}

footer nav a {
  padding: 10px 20px;
  margin: 5px;
}

  footer nav a:hover {
    background-color: #eee;
    color: #0d1321;
  }

hr {
  border: none; /* Remove default border */
  height: 1.5px; /* Set the height */
  background-color: #bc6c25; /* Set the color */
  margin: 15px 15%; /* Set the margin */
}

@media (max-width: 768px) {
  hr {
    margin: 20px 10%; /* Adjust margin for smaller screens */
  }
}